@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&family=Ubuntu:ital,wght@0,400;0,500;0,700;1,300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}
:root{
    --black: #2f2f2f;
    --white: #fff;
    --red: #f83838;
}
.main{
    position: relative;
    min-height: 100vh;
    background: linear-gradient(#1c1c1c,#323232);
    padding: 30px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.main::before{
    content: "Enjoyment";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 16vw;
    font-weight: 700;
    color: rgba(17, 13, 13, 0.918);
}
header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 80px;
    width: 40%;
    color: rgba(247, 242, 242, 0.952);
    padding-left: 55px;
}
h1{
    text-transform: capitalize;
    text-shadow: 2px 2px 2px #e70c0c;
}
.content{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
    /* margin-bottom: 200px; */
    z-index: 1;
}
.content h2{
    text-transform: capitalize;
    font-size: 5vw;
    font-weight: 100;
    color: var(--white);
    text-align: center;
}
/* .content h2{
    text-transform: capitalize;
    text-shadow: 2px 2px 2px #e70c0c;
} */
.btn{
    display: inline-block;
    background: var(--red);
    color: var(--white);
    text-decoration: none;
    padding: 16px 36px;
    margin-top: 20px;
    border-radius: 50px;
    font-weight: 1.25cm;
    box-shadow: 0 0.2rem 5rem 0.5rem rgb(105, 92, 89); 
}
.btn:hover{
    letter-spacing: 4px;
    background-color: #f7eeee;
    color: rgb(10, 8, 8);
}
.itune{
    max-width: 60%;
}